results
logs
__pycache__
*.txt
manual_subgraph_brief_vg*
log
.vscode
save_logs
stanford-corenlp-4.3.2
cache
*.stats
*.prof
*.lprof
vg
tmp
try
GAMES_*
data
.DS_Store
.python-version
*.json
*.pt
calc_pr
ckpt
similar_dicts